- if @restaurants.all.any?
  - @restaurants.all.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
    %h4= restaurant.description
    - restaurant.reviews.each do |review|
      %h5= "#{review.rating}*: #{review.thoughts}"
    %h5= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)

- else
  No restaurants yet!

%a(href=new_restaurant_path) Add a restaurant
